  <header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-12 text-center">
            <a alt="Henrik Elias" class="white logo"></a>
          <ul class="main-nav">
            <li><a routerLink="/portfolio" title="portfolio" href="#" routerLinkActive="active">Portfolio</a>
            </li>
            <li><a routerLink="/about" title="about" href="#" routerLinkActive="active">Om</a>
            </li>
            <li><a routerLink="/contact" title="Contact" href="#" routerLinkActive="active">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>