<div class="container-fluid">
  <section class="content fadein">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div id="sticky" class="col-md-12 col-sm-5">
            <div class="selfie"></div>
            <h4>Henrik Elias Kristensen</h4>
            <table class="table mt-md">
              <tr>
                <td><strong>Alder</strong></td>
                <td>28 år</td>
              </tr>
              <tr>
                <td> <strong>Profession</strong></td>
                <td>Multimediedesigner (2014) <br> Digital Konceptudvikling (2017)</td>
              </tr>
              <tr>
                <td> <strong>Bopæl</strong></td>
                <td>Herning</td>
              </tr>
              <tr>
                <td> <strong>Tlf.</strong></td>
                <td>61673766</td>
              </tr>
              <tr>
                <td> <strong>Mail</strong></td>
                <td>Henrikelias@hotmail.com</td>
              </tr>
              <tr>
                <td> <strong>Aktiv på</strong></td>
                <td> <a href="https://www.linkedin.com/in/henrik-elias-kristensen-68157068/?ppe=1">LinkedIn</a><a href="https://www.instagram.com/henrikelias/">Instagram</a></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-8">
          <div id="sticky-holder">
            <h1 class="animated-text">Jeg er en kreativ nørd, som kan bidrage med meget inden for digital konceptudvikling. Jeg synes det er spændende
              at lære nye ting, og dette har givet mig den fordel, at jeg er stærk inden for mange digitale områder.
            </h1>
            <p>Jeg har gennem min uddannelse og arbejde på akademiets projekter, tilegnet mig en solid viden med digitale konceptudviklingsværktøjer.
              Ydermere har jeg en del erfaring med udvikling af grafik, da jeg tidligere har arbejdet som freelance grafiker.
              Jeg har også erfaring med markedsførings og socialmedie koncepter.
            </p>
            <p>Min uddannelse Digital Konceptudvikling, er målrettet mod erhverslivet, hvorved der arbejdes med cases stillet
              af virksomheder som ønsker en konkret løsning. Derigennem er jeg trænet til at tænke innovativt med udgangspunkt
              i en konkret problemstilling og leverer en reel og brugbar løsning på tværs af kanaler både on- og offline.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content mt-xl fadein">
    <div class="row-fluid">
      <div class="col-md-12 text-center">
        <h4>Seneste projekt</h4>
      </div>
    </div>
    <div class="row-fluid">
      <a routerLink="/tiltro" class="smooth">
      <div class="col-md-12 projekt"></div>
      </a>
    </div>
  </section>
</div>
