<div class="container-fluid">
  <section class="grid-portfolio fadein">
    <div class="grid">
        <a routerLink="/tiltro" class="grid-item positionrel grid-item--width2 firstBox" alt="Indesign projekt">
          <div class="overlay">
            <div class="title"> Layouter for KFS</div>
          </div>
        </a>
        <a href="/assets/360grader.pdf" target="_blank" class="grid-item  positionrel secondBox" alt="Illustrator projekt">
          <div class="overlay">
            <div class="title"> 2. Semester projekt</div>
             <div class="text">Som 2. semester project udviklede vi nyt marketing materiale for Topas Travel</div>
          </div>
        </a>
      <a href="/assets/event.pdf" target="_blank" class="grid-item grid-item--height2 positionrel thirdBox" alt="Illustrator, photoshop projekt">
        <div class="overlay">
          <div class="title"> Event plakat</div>
           <div class="text">Jeg udarbejde en plakat for et større weekend arrangement kaldet event</div>
        </div>
      </a>
      <a routerLink="/second" class="grid-item  positionrel fourthBox" alt="Photoshop projekt">
      </a>
      <a href="/assets/visitkort.pdf" target="_blank" class="grid-item  positionrel fifthBox" alt="Logo design">
        <div class="overlay">
          <div class="title"> Logo design</div> 
        </div>
      </a>
      <a href="/assets/cykelmotion.pdf" target="_blank" class="grid-item positionrel sixthBox" alt="Logo design" alt="Logo design">
        <div class="overlay">
          <div class="title"> Logo design</div>
        </div>
      </a>
      <a routerLink="/third" class="grid-item positionrel seventhBox" alt=" plakater, grafik">
        <div class="overlay">
          <div class="title"> Plakater</div>
        </div>
      </a>
    </div>
  </section>
  <footer>
    <div class="container-fluid">
      <div class="row">
        <!--<div class="col-md-12 text-center"><span>&copy; Ben Template. <a href="https://themeforest.net/item/ben-creative-portfolio-html-template/19113557">Buy Ben</a></span></div>-->
      </div>
    </div>
  </footer>
</div>
