<div class="container-fluid">
  <section class="grid-portfolio fadein">
    <div class="grid">
        <a routerLink="/tiltro" class="grid-item positionrel grid-item--width2 firstBox" alt="Indesign projekt">
          <div class="overlay">
            <div class="title"> Layouter for KFS</div>
          </div>
        </a>
        <a href="../../images/360grader.pdf" class="grid-item  positionrel secondBox" alt="Illustrator projekt">
          <div class="overlay">
            <div class="title"> 2. Semester projekt</div>
             <div class="text">Uddybende text</div>
          </div>
        </a>
      <a href="assets/event.pdf" class="grid-item grid-item--height2 positionrel thirdBox" alt="Illustrator, photoshop projekt">
        <div class="overlay">
          <div class="title"> Event plakat</div>
           <div class="text">Uddybende text</div>
        </div>
      </a>
      <a href="pages/work-single.html" class="grid-item  positionrel fourthBox" alt="Photoshop projekt">
        <div class="overlay">
          <div class="title"> 1. Semester projekt</div>
          <div class="text">Uddybende text</div>
        </div>
      </a>
      <a href="pages/work-single.html" class="grid-item  positionrel fifthBox" alt="Logo design">
        <div class="overlay">
          <div class="title"> Logo design</div>
          <div class="text">Uddybende text</div>
        </div>
      </a>
      <a href="/assets/cykelmotion.pdf" class="grid-item positionrel sixthBox" alt="Logo design" alt="Logo design">
        <div class="overlay">
          <div class="title"> Logo design</div>
          <div class="text">Uddybende text</div>
        </div>
      </a>
      <a href="/assets/plakater.pdf" class="grid-item positionrel seventhBox" alt=" plakater, grafik">
        <div class="overlay">
          <div class="title"> Plakater</div>
          <div class="text">Uddybende text</div>
        </div>
      </a>
      <!--<a href="pages/work-single.html" class="grid-item  positionrel ninthBox">
        <div class="overlay">
          <div class="title"> 1. Semester projekt</div>
          <div class="text">Uddybende text</div>
        </div>
      </a>
      <a href="pages/work-single.html" class="grid-item  positionrel tenthBox">
        <div class="overlay">
          <div class="title"> 1. Semester projekt</div>
          <div class="text">Uddybende text</div>
        </div>
      </a>-->
    </div>
  </section>
  <footer>
    <div class="container-fluid">
      <div class="row">
        <!--<div class="col-md-12 text-center"><span>&copy; Ben Template. <a href="https://themeforest.net/item/ben-creative-portfolio-html-template/19113557">Buy Ben</a></span></div>-->
      </div>
    </div>
  </footer>
</div>
